@import url(/bower_components/normalize-css/normalize.css);
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html,
body,
#map {
  height: 100%;
  width: 100vw;
  background: white;
  font-size: 1rem; }

h4 {
  font-size: 1.6rem;
  margin: 0; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.leaflet-control-container {
  display: none; }

.leaflet-popup-content-wrapper {
  width: calc(100vw - 20px);
  max-width: 700px; }

.leaflet-popup-content {
  overflow-y: auto;
  width: auto !important;
  max-height: 400px; }

.switch {
  z-index: 9999;
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  top: 10px;
  left: 10px; }
  @media screen and (min-width: 400px) {
    .switch {
      top: 30px;
      left: 30px; } }
  .switch img {
    height: 2.5rem;
    width: 2.5rem; }
    @media screen and (min-width: 400px) {
      .switch img {
        height: 5rem;
        width: 5rem; } }
  .switch.historic {
    background: #C89C6E; }
  .switch.modern {
    background: #4FA3ED; }
